<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>飲食店検索アプリ</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- h1タグを作ろう -->
    <div class="search-form">
      <!-- エリア選択肢を作ろう -->
      <!-- ジャンルの選択肢を作ろう -->
    </div>
    <!-- 検索ボタンを作ろう -->

    <!-- 検索結果を表示させる要素タグを作ろう -->

    <script src="./script.js"></script>
  </body>
</html>
