<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>飲食店検索アプリ</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- h1タグを作ろう(タイトル) -->
    <div class="search-form">
      <!-- エリア選択 -->
      <div class="input-group">
        <label for="area-select">エリア</label>
        <select id="area" name="area">
          <option value="">-- 選択してください --</option>
          <option value="隈府">隈府</option>
          <option value="重味">重味</option>
          <option value="七城町">七城町</option>
          <option value="北宮">北宮</option>
          <option value="大琳寺">大琳寺</option>
          <option value="長田">長田</option>
          <option value="野間口">野間口</option>
          <option value="西寺">西寺</option>
          <option value="今">今</option>
          <option value="泗水町">泗水町</option>
          <option value="四町分">四町分</option>
          <option value="亘">亘</option>
          <option value="森北">森北</option>
          <option value="龍門">龍門</option>
          <option value="豊間">豊間</option>
          <option value="旭志">旭志</option>
          <option value="出田">出田</option>
        </select>
      </div>

      <!-- エリア選択に倣って、ジャンルの選択肢を作ろう -->
      <!-- 選択肢：
        居酒屋
        ダイニングバー・バル
        創作料理, 和食, 洋食
        イタリアン・フレンチ
        中華
        焼肉・ホルモン
        韓国料理
        アジア・エスニック料理
        各国料理
        カラオケ・パーティ
        バー・カクテル
        ラーメン
        お好み焼き・もんじゃ
        カフェ・スイーツ
        パン
        その他グルメ
      -->
    </div>
    <!-- searchButtonというidを持った検索ボタンを作ろう -->

    <!-- resultsという名前を持った、検索結果を表示させる要素タグを作ろう -->

    <script src="./script.js"></script>
  </body>
</html>
